.loadBtn {
  padding: 8px 16px;
  margin-bottom: 60px;
  border-radius: 8px;
  background-color: #e67dd5;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  text-align: center;
  display: inline-block;
  color: #fff;
  height: 60px;
  border: none;
  /* cursor: pointer; */
  text-decoration: none;
  font: 500 18px/24px inherit;
  min-width: 180px;
  box-shadow: 0px 2px 4px -1px rgba(255, 21, 208, 0.5),
    0px 4px 5px 0px rgba(240, 5, 182, 0.5),
    0px 1px 10px 0px rgba(255, 6, 176, 0.5);
}

.loadBtn:hover,
.loadBtn:focus {
  background-color: #9b2a88;
  transform: translateY(-2px);
  box-shadow: 0px 2px 4px -1px rgba(255, 21, 208, 0.5),
    0px 4px 5px 0px rgba(240, 5, 182, 0.5),
    0px 1px 10px 0px rgba(255, 6, 176, 0.5);
}

.loadBtn svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}
