.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 128px;
  padding: 12px;
  color: #fff;
  background-color: #e67dd5;
  box-shadow: 0px 2px 4px -1px rgba(255, 21, 208, 0.5),
    0px 4px 5px 0px rgba(240, 5, 182, 0.5),
    0px 1px 10px 0px rgba(255, 6, 176, 0.);
}


.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px hsla(309, 100%, 50%, 0.1);
  transition: box-shadow 0.3s ease;
}

.form:hover {
  box-shadow: 0 8px 16px #f307df99;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 8px;

  &::placeholder {
    font: inherit;
    font-size: 18px;
  }
}
.button {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: none;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* cursor: pointer; */
  outline: none;
  color: #e67dd5;
}

.button:hover {
  opacity: 1;
  transform: scale(1.4);
  color:#f307dfe5;
  background-color: #fff;
}

.button svg {
  width: 26px;
  height: 26px;
}
