.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 50px;
}

.galleryItem {
  width: calc((100% - 48px) / 4);
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.galleryItem:hover {
  filter: brightness(110%) contrast(102%) saturate(101%);
}
